# Dependencias
node_modules/
**/node_modules/

# Variables de entorno
.env
.env.local
.env.production
**/.env

# Compilados
dist/
build/
**/dist/
**/build/

# Prisma
**/prisma/migrations/

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml